
  * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 50%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  min-width: 720px;
}
form, .content {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
  min-width: 720px;
}
.input-group a{
  text-decoration: none;
}
.input-group {
  margin: 10px 0px 10px 0px;
  align-items: center;
  width: 100%;
}
.input-group label {
  display: flex;
  text-align: left;
  margin: 3px;
flex-wrap: wrap;
}
.input-group input {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}


.block {
    display: inline-block;
}
 
input,
label {
    display: block;
}

.add {
  cursor: pointer;
}
.form input {
  display: block;
}
/*  */
.ocenka{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2% 0;
  justify-content: space-between;
  position: relative;
  gap: 3%;
  align-items: center;
}
.ocenka label{
  order:0;
  text-align: center;
}

.ocenka input{
  order: 1;
  width: 100%;
  
 
}

.ocenka_div{
  height: 100%;
  
}

.form_1 select {
  margin: 2% 0;
  width: 100%;
}

